<h1>Welcome to RockPaperScissors</h1>
<p>This is a two player game where you choose your weapon, either Rock, Paper or Scissors.<br>In order to run the game please type / into the address bar. Following this, player1 will<br>input their choice followed by a slash. Then player2 will input their choice. The rest is up to the Gods!!<br><br>GOOD LUCK!!!
